{% load static %}

<!DOCTYPE html>
<html lang='en_us'>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block title %}{% endblock %}</title>

      <link rel="stylesheet" href='{% static 'styles.css' %}'>
      {% if debug %}
        <!-- add stuff that only links when in Debug mode -->
      {% else %}
      {% endif %}
      <script>
        function hello () {
          document.getElementById('hello').innerHTML = 'Hello World!'
        }
      </script>
      {% block head %}{% endblock %}
    </head>
    <body onload="hello();">
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>

      <script type="text/javascript" src='{% static 'scripts.js' %}'></script>
      {% if debug %}
        <!-- add stuff that only links when in Debug mode -->
      {% else %}
      {% endif %}
    </body>
</html>
