{% load static %}

<!DOCTYPE html>
<html lang='en_us'>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block title %}{% endblock %}</title>

      <link rel="stylesheet" href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}'>
      {% block head %}{% endblock %}
    </head>
    <body>
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>

      <!-- Bootstrap -->
      <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
      <script type="text/javascript" src='{% static 'popper/dist/popper.js/popper.min.js' %}'></script>
      <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
      <!-- Bootstrap -->
    </body>
</html>
